
* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: block;
    margin: 0 auto; 
  }
  body{
    max-width: 485px;
    background: black;
  }
  h1 {
    padding: 15px;
    background: white;
    color: #007d7b;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
  }
  nav {
    margin: 0;
    padding: 0;
  }
  nav li{
    display: inline;
  }
  nav a{
    display: inline-block;
    padding: 15px;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  nav a:hover {
    background: #007d7b;
    color: black;
    font-size: 2em;
  }
  #topbutton {
    background: black;
    color: white;
    border: 2px solid white;
    font-size: 1em;
    padding: 15px;
    position: fixed;
    bottom: 20px;
    right: 350px;
    z-index: 99;
  }
  #topbutton:hover {
    background: #007d7b;
    color: black;
    font-size: 1em;
  }
  article{
    background: white;
  }
  article h2 {
    padding: 15px;
    background: white;
    color: black;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
  }
  article p{
    padding: 15px;
    background: white;
    color: black;
    font-size: 1.25em;
  }
  .gallery{
    background: white;
  }
  figure{
    text-align: center;
  }
  .chile, .hawaii, .moab {
    color: white;
    position: relative;
    top: -30px;
    text-transform: uppercase;
  }
  .italy {
    color: black;
    position: relative;
    top: -30px;
    text-transform: uppercase;
  }
  .guatemala, .wyoming {
    color: white;
    position: relative;
    top: -270px;
    text-transform: uppercase;
  }
  .rocky, .switzerland, .uk, .usa{
    color: black;
    position: relative;
    top: -270px;
    text-transform: uppercase;
  }
  .ireland, .iran {
    color: black;
    position: relative;
    top: -615px;
    text-transform: uppercase;
  }
  #contact h2{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
  }
  #contact p{
    margin: 10px;
    font-size: 1.25em;
    text-align: center;
  }
  label{
    font-size: 1em;
    margin-left: 45px;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
  input {
    width: 85%;
    background: white;
    color: #007d7b;
    padding:10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
  }
  input[type=submit] {
    width: 65%;
    background: #007d7b;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  input[type=submit]:hover {
    background: white;
    color:#007d7b;
  }
  footer{
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
  }
  @media screen and (min-width:650px)